<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bharathkalyans.dsalgovisualizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSAlgoVisualizer">
        <activity android:name=".trees.Binarysearchtree"></activity>
        <activity android:name=".trees.Binarytree" />
        <activity android:name=".hashing.Treemap" />
        <activity android:name=".hashing.Hashmap" />
        <activity android:name=".sorting.InsertionSort" />
        <activity android:name=".sorting.SelectionSort" />
        <activity android:name=".sorting.QuickSort" />
        <activity android:name=".sorting.MergeSort" />
        <activity android:name=".sorting.BubbleSort" />
        <activity android:name=".trees.TreeHomePage" />
        <activity android:name=".hashing.HashingHomePage" />
        <activity android:name=".sets.SetsHomePage" />
        <activity android:name=".sorting.SortingHomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>